<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xg.androiddemo"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.GET_TASKS" >
    </uses-permission>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" >
    </uses-permission>

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="16" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.xg.androiddemo.activity.HomeFragmentActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.xg.androiddemo.activity.TabFirstActivity"
            android:label="@string/title_activity_tab_first" >
        </activity>
        <activity
            android:name="com.xg.androiddemo.activity.TabSecondActivity"
            android:label="@string/title_activity_tab_second" >
        </activity>
        <activity
            android:name="com.xg.androiddemo.activity.TabThirdActivity"
            android:label="@string/title_activity_tab_third" >
        </activity>
        <activity
            android:name="com.xg.androiddemo.activity.TabFouthActivity"
            android:label="@string/title_activity_tab_fouth" >
        </activity>
        <activity
            android:name="com.xg.androiddemo.activity.test.ListViewDemoActivity"
            android:label="ListViewDemoActivity" >
        </activity>
        <activity
            android:name="com.xg.androiddemo.activity.test.DataPassActivity"
            android:label="@string/title_activity_data_pass" >
        </activity>
        <activity
            android:name="com.xg.androiddemo.activity.test.LayoutTestActivity"
            android:label="LayoutTestActivity" >
        </activity>
        <activity
            android:name="com.xg.androiddemo.activity.test.DownloadImageActivity"
            android:label="DownloadImageActivity" >
        </activity>
        <activity android:name="com.xg.androiddemo.activity.test.ServiceTestActivity" >
        </activity>
        <activity android:name="com.xg.androiddemo.activity.test.ReceiverTestActivity" >
        </activity>
        
        <activity android:name="com.xg.androiddemo.activity.test.HandleTestActivity" >
        </activity>

        <activity android:name="com.xg.androiddemo.activity.test2.ViewTestActivity" >
        </activity>
        <activity android:name="com.xg.androiddemo.activity.test2.ScrollLayoutActivity" >
        </activity>
        
        
        <activity android:name="com.xg.androiddemo.activity.test2.ScrollViewActivity" >
        </activity>
        
        <activity android:name="com.xg.androiddemo.activity.test2.ListViewHFActivity" >
        </activity>
       <!-- 服务 -->
        <service android:name="com.xg.androiddemo.service.CustomService" >
            <intent-filter>
                <action android:name="com.xg.SERVICE_DEMO" />

                <category android:name="android.intent.category.default" />
            </intent-filter>
        </service>
        
        <!-- 广播 -->

        <receiver android:name="com.xg.androiddemo.receiver.CustomReceiver" >
            <intent-filter>
                <action android:name="com.xg.receiver_demo" />

                <category android:name="android.intent.category.default" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.xg.androiddemo.activity.HomeActivity$StaticReceiver" >
            <intent-filter>
                <action android:name="com.xg.static_receiver_demo" />

                <category android:name="android.intent.category.default" />
            </intent-filter>
        </receiver>
    </application>

</manifest>