<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xg.androiddemo"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".Global"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.HomeFragmentActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.TabFirstActivity"
            android:label="@string/title_activity_tab_first" />
        <activity
            android:name=".activity.TabSecondActivity"
            android:label="@string/title_activity_tab_second" />
        <activity
            android:name=".activity.TabThirdActivity"
            android:label="@string/title_activity_tab_third" />
        <activity
            android:name=".activity.TabFouthActivity"
            android:label="@string/title_activity_tab_fouth" />
        <activity
            android:name=".activity.test.ListViewDemoActivity"
            android:label="ListViewDemoActivity" />
        <activity
            android:name=".activity.test.DataPassActivity"
            android:label="@string/title_activity_data_pass" />
        <activity
            android:name=".activity.test.LayoutTestActivity"
            android:label="LayoutTestActivity" />
        <activity
            android:name=".activity.test.DownloadImageActivity"
            android:label="DownloadImageActivity" />
        <activity android:name=".activity.test.ServiceTestActivity" />
        <activity android:name=".activity.test.ReceiverTestActivity" />
        <activity android:name=".activity.test.HandleTestActivity" />
        <activity android:name=".activity.test2.ViewTestActivity" />
        <activity android:name=".activity.test2.ScrollLayoutActivity" />
        <activity android:name=".activity.test2.ScrollViewActivity" />
        <activity android:name=".activity.test2.ListViewHFActivity" />
        <!-- 服务 -->
        <service android:name=".service.CustomService">
            <intent-filter>
                <action android:name="com.xg.SERVICE_DEMO" />

                <category android:name="android.intent.category.default" />
            </intent-filter>
        </service>

        <!-- 广播 -->

        <receiver android:name=".receiver.CustomReceiver">
            <intent-filter>
                <action android:name="com.xg.receiver_demo" />

                <category android:name="android.intent.category.default" />
            </intent-filter>
        </receiver>
        <receiver android:name=".activity.HomeActivity$StaticReceiver">
            <intent-filter>
                <action android:name="com.xg.static_receiver_demo" />

                <category android:name="android.intent.category.default" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".activity.test.TabActionbarTestActivity"
            android:label="@string/title_activity_actionbar_test"
            android:parentActivityName=".parent.BaseActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.xg.androiddemo.parent.BaseActivity" />
        </activity>
        <activity
            android:name=".activity.test.ListActionBarTestActivity"
            android:label="@string/title_activity_list_action_bar_test"
            android:parentActivityName=".parent.BaseActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.xg.androiddemo.parent.BaseActivity" />
        </activity>
        <activity android:name=".activity.test.DBTestActivity" />
        <activity
            android:name=".activity.launchmode.AAActivity"
            android:label="@string/title_activity_aa"
            android:parentActivityName="android.support.v7.app.ActionBarActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="android.support.v7.app.ActionBarActivity" />
        </activity>
        <activity
            android:name=".activity.launchmode.BBActivity"
            android:label="@string/title_activity_bb"
            android:launchMode="singleTop"
            android:parentActivityName=".parent.BaseActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.xg.androiddemo.parent.BaseActivity" />
        </activity>
        <activity
            android:name=".activity.launchmode.CCActivity"
            android:label="@string/title_activity_cc"
            android:parentActivityName=".parent.BaseActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.xg.androiddemo.parent.BaseActivity" />
        </activity>

        <receiver
            android:name=".receiver.HeartbeatReceiver"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name=".service.MessegerService"
            android:enabled="true"
            android:exported="true"
            android:process=":remote" />
        <service
            android:name=".service.RemoteService"
            android:enabled="true"
            android:exported="true"
            android:process=":ipc" />

        <activity
            android:name=".activity.test.IPCTestActivity"
            android:label="@string/title_activity_ipctest" />

        <receiver
            android:name=".receiver.NetworkStateReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
                <action android:name="android.intent.action.USER_PRESENT"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>